@import "../../App.scss";

.section-coordinates {
    background: $bg-color;
}

.row {
    .col {
        width: $container-width-lg;
        margin: 0 auto;

        .box-flex {
            display: flex;
            justify-content: space-between;
        }

        .coordinate,
        .coordinate2,
        .search-for {
            margin-bottom: 20px;
            font-weight: 400;
            line-height: 1.4;
            font-size: 22px;
            text-align: start;

            &.search-for {
                text-align: center;

                strong {
                    padding: 5px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .row {
        .col {
            .box-flex {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .row {
        .col {
            .box-flex {
                display: block;
            }

            .coordinate,
            .coordinate2,
            .search-for{
                font-size: 15px;
            }
        }
    }
}