@import "../../App.scss";

.section-hobbies {
    background-color: #fff;
}

.row {
    width: 100%;

    .col-hobbies {
        width: $container-width-sm;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto 0;
        padding-bottom: 30px;

        .box-hobbies {
            width: 90%;
            height: auto;
            box-shadow: 1px 2px 3px #333;
            flex-shrink: 0;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            border-radius: 0.3rem;
            transition: all 500ms ease;
            background: #f5F5F5;

            &:hover {
                background-color: $text-color;
                color: #fff;
            }

            .hobbie,
            .assosiation,
            .language {
                margin: 10px;
                font-weight: 500;
                line-height: 1.4;
                font-size: 27px;
                text-align: center;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

.text-hobbies {
    height: 100%;
    overflow-y: scroll;

    ul {
        margin: auto;
        width: 100%;


        .items-hobbies {
            display: flex;
            height: 25%;
            flex-direction: column;

            .readings {
                margin: 5px 15px 0 15px;
                height: 30px;

                li {
                    font-weight: 600;
                    font-size: 25px;
                }
            }

            .img-hobbies {
                margin: 10px 0 0 15px;
                background: #f5F5F5;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                align-items: center;
                padding: 5px;
                box-shadow: 1px 2px 4px #333;
            }
        }
    }
}


.popup-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-canada {
    font-size: 1.5rem;

}

.border {
    width: 80%;
    height: 1px;
    border: 0.5px solid #eee;
    margin: 20px auto;
}

.scrolling-img {
    height: 100%;
    overflow-y: scroll;

    .canada-img {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin: 50px auto 0;
        width: 80%;

        a {
            margin: 5px;
            position: relative;

            img {
                flex-shrink: 0;
                display: block;
            }

            &:hover .hover {
                opacity: 1;
                transform: scale(1.1);
                transition: all 0.3s ease 0s;
                height: 150px;
                width: 150px;
                top: 15px;
                left: 13px;
            }

            .text {
                color: #fff;
                font-size: 15px;
                line-height: 1.5em;
                text-shadow: 2px 2px 2px #000;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }

            .hover {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 0.3rem;
                opacity: 0;
                transition: .5s ease;
                background: -webkit-linear-gradient(45deg, #000000bd 0%, #f5f5f5 100%);
                left: -11px;
                top: -11px;
                opacity: 0;
                margin: 10px;
                text-align: center;
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .row {
        width: 100%;

        .col-hobbies {
            width: $container-width-lg;
            flex-wrap: wrap;
            flex-direction: unset;
            display: flex;
            justify-content: center;
            margin: 50px auto 0;

            .box-hobbies {
                width: 34%;
                height: 150px;
                box-shadow: 1px 2px 3px #333;
                flex-shrink: 0;
                margin: 10px;
                padding: 10px;
                cursor: pointer;
                border-radius: 0.3rem;
                transition: all 500ms ease;
                background: #f5F5F5;

                &:hover {
                    background-color: $text-color;
                    color: #fff;
                }

                .hobbie,
                .assosiation,
                .language {
                    margin: 45px auto;
                    font-weight: 500;
                    line-height: 1.4;
                    font-size: 27px;

                    &.assosiation {
                        margin: 35 px auto;
                    }
                }
            }
        }
    }

    .scrolling-img {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .canada-img {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            margin: 50px auto 0;
            width: 80%;
        }
    }

    .text-hobbies {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {



            .items-hobbies {



                .img-hobbies {
                    margin: 10px 0 0 15px;
                    background: #f5F5F5;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    box-shadow: 1px 2px 4px #333;
                }
            }
        }
    }
}