footer {
    background: #333333;
    margin-top: 40px;
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;

    a {
        color: #f5f5f5;
    }

    .footer-logo {
        margin-top: 4rem;

        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        display: inline-block;
    }

    .permalinks {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        margin: 0 auto 3rem;
    }

    .footer-socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2.6rem;

        a {
            color: #333333;
            background: #f5f5f5;
            padding: 0.8rem;
            border-radius: 0.7rem;
            display: flex;
            border: 1px solid transparent;

            &:hover {
                background: transparent;
                color: #f5f5f5;
                border-color: #f5f5f5;
            }
        }
    }

    .footer-copyright {
        margin-bottom: 4rem;
        color: #f5f5f5;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .permalinks {
            display: flex;
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin: 0 auto 3rem;
        }
    }
}